<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ config.icon_url | escape }}" type="{{ config.icon_mime | escape }}">
    <link rel="apple-touch-icon" href="{{ config.icon_url | escape }}" type="{{ config.icon_mime | escape }}">

    <meta name="msapplication-TileColor" content="{{ config.icon_color | escape }}">
    <meta name="msapplication-TileImage" content="{{ config.icon_url | escape }}">
    <meta property="og:image" content="{{ config.icon_url | escape }}">

    <title>{{ config.page_title | escape }}</title>

    <link rel="stylesheet" href="/assets/stylesheets/common.css?v={{ config.runtime_version | escape }}" type="text/css" />
    <link rel="stylesheet" href="/assets/stylesheets/index.css?v={{ config.runtime_version | escape }}" type="text/css" />

    <script src="/assets/javascripts/index.js?v={{ config.runtime_version | escape }}" type="text/javascript"></script>

    <script type="text/javascript">
      window.STATUS_GENERAL = "{{ states.status | escape }}";
    </script>

    {% if config.custom_html %}
      {{ config.custom_html | safe }}
    {% endif %}
  </head>

  <body>
    <header>
      <div class="wrapper">
        <div class="header-inner">
          <a href="/" class="logo">
            <img src="{{ config.logo_url | escape }}" alt="" />

            <span class="logo-label font-sans-semibold">Status</span>
          </a>

          <nav>
            <ul>
              <li>
                <a href="{{ config.support_url | escape }}" style="background-color: {{ config.logo_color | escape }};" class="nav-support font-sans-semibold">Contact support</a>
              </li>

              <li>
                <a href="{{ config.website_url | escape }}" target="_blank" class="nav-website font-sans-bold">Go to website</a>
              </li>
            </ul>
          </nav>

          <div class="clear"></div>
        </div>
      </div>
    </header>

    <aside class="status-{{ states.status | escape }}-background">
      <div class="wrapper">
        <h1 class="font-sans-semibold">
          {% if states.status == "dead" %}
            Partial service outage ongoing
          {% elif states.status == "sick" %}
            Minor service slowdown ongoing
          {% else %}
            All systems report as healthy
          {% endif %}
        </h1>

        <div class="separator"></div>

        <h4 class="font-sans-light">
          {% if states.date %}
            refreshed {{ states.date | escape }}
          {% else %}
            not yet refreshed
          {% endif %}
        </h4>
      </div>
    </aside>

    <main class="wrapper">
      <section class="general status-{{ states.status | escape }}-background-before">
        <div class="general-icon">
          <div class="badge badge-large badge-status-{{ states.status | escape }}"></div>
        </div>

        <div class="general-inner">
          <h2 class="font-sans-bold">
            {% if states.status == "dead" %}
              Looks like some services are not working.
            {% elif states.status == "sick" %}
              Looks like services are under high load.
            {% else %}
              Looks like everything is operating normally.
            {% endif %}
          </h2>

          <p class="font-sans-semibold">This status page automatically monitors our systems and alerts if something is not working as expected.</p>

          <p class="font-sans-regular">
            {% if states.status == "dead" %}
              Our team has been notified of the issue. If the outage persists,
            {% elif states.status == "sick" %}
              Services are slower than usual at the moment. If you are encountering an issue,
            {% else %}
              All systems are healthy at the moment. If you are encountering an issue,
            {% endif %}

            please <a href="{{ config.support_url | escape }}" class="font-sans-semibold">contact our support</a>.
          </p>
        </div>
      </section>

      {% for _, probe in states.probes %}
        <section class="probe">
          <div class="title">
            <div class="badge badge-default badge-status-{{ probe.status | escape }}"></div>

            <h3 class="font-sans-bold">{{ probe.label | escape }}</h3>
          </div>

          <ul>
            {% for _, node in probe.nodes %}
              <li class="status-{{ node.status | escape }}-background-before">
                <label class="font-sans-semibold status-{{ node.status | escape }}-background-subtle status-{{ node.status | escape }}-border-subtle">{{ node.label | escape }}</label>

                <div class="node">
                  {% for _, replica in node.replicas %}
                    <span class="replica status-{{ replica.status | escape }}-background has-tooltip font-sans-semibold">
                      {{ loop.index }}

                      <span class="tooltip">
                        <span class="tooltip-value">
                          <span class="tooltip-value-text">
                            <span class="tooltip-main font-sans-semibold">
                              {% if replica.status == "dead" %}
                                This replica reports as dead.
                              {% elif replica.status == "sick" %}
                                This replica reports as sick.
                              {% else %}
                                This replica reports as healthy.
                              {% endif %}
                            </span>

                            <span class="tooltip-label font-sans-light">
                              {% if node.mode == "push" %}
                                Checked via a push probe (Reporter).
                              {% else %}
                                Checked via a poll probe (HTTP or TCP).
                              {% endif %}
                            </span>
                          </span>

                          {% if replica.metrics.system or replica.metrics.latency or replica.metrics.rabbitmq %}
                            <span class="tooltip-value-details">
                              {% if replica.metrics.system %}
                                <span class="tooltip-detail font-sans-regular">
                                  <span class="tooltip-detail-label font-sans-semibold">Load</span>: {{ replica.metrics.system.cpu }}%
                                </span>

                                <span class="tooltip-detail font-sans-regular">
                                  <span class="tooltip-detail-label font-sans-semibold">Memory</span>: {{ replica.metrics.system.ram }}%
                                </span>
                              {% endif %}

                              {% if replica.metrics.latency %}
                                <span class="tooltip-detail font-sans-regular">
                                  <span class="tooltip-detail-label font-sans-semibold">Latency</span>: {{ replica.metrics.latency }}ms
                                </span>
                              {% endif %}

                              {% if replica.metrics.rabbitmq %}
                                <span class="tooltip-detail font-sans-regular">
                                  <span class="tooltip-detail-label font-sans-semibold">Queue</span>: {{ replica.metrics.rabbitmq.queue_ready }}R {{ replica.metrics.rabbitmq.queue_nack }}N
                                </span>
                              {% endif %}
                            </span>
                          {% endif %}
                        </span>
                      </span>
                    </span>
                  {% endfor %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </section>
      {% endfor %}
    </main>

    <footer class="wrapper">
      <p class="font-sans-semibold">© {{ environment.year }} {{ config.company_name | escape }}</p>
      <p class="font-sans-regular">This status page is powered by <a href="https://github.com/valeriansaliou/vigil" target="_blank" class="font-sans-semibold">Vigil</a>.</p>
    </footer>
  </body>
</html>
