[Unit]
Description=Microservices Status Page
After=network.target

[Service]
Type=simple
User=vigil
Group=vigil
ExecStartPre=/sbin/setcap 'cap_net_raw+ep' /bin/vigil
ExecStart=/usr/bin/vigil -c /etc/vigil.cfg
Restart=on-failure
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
